.Pokemon {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.Pokemon .left-panel {
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;

    background-color: red;
}

.Pokemon .right-panel {
    width: 50px;
    margin-left: 10px;
    vertical-align: middle;

    background-color: red;
}

.Pokemon .main-panel {
    flex: 1;
    display: flex;
}

.absolute {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.Pokemon .main-panel .learnset-pane {
    flex: 1;
}

.Pokemon .main-panel .learnset-pane .learnset-tabs {
    padding-left: 5px;
    padding-right: 20px;
}

.tab-content > .tab-pane {
    text-align: left;
    padding: 15px 10px;
}

.Pokemon .main-panel .info-pane {

}

.Pokemon .main-panel .info-pane .stats-pane {
    padding-left: 25%;
    padding-right: 25%;
}

.Pokemon .main-panel .info-pane .stats-pane > p {
    margin-bottom: 2px;
}

.type > span {
    padding: 4px 6px;
    border-radius: 4px;
    /*font-family: Arial;*/
    font-weight: bold;
    margin: auto 4px;

}

.type > span.grass {
    background-color: darkgreen;
    color: white;
}

.type > span.poison {
    background-color: purple;
    color: white;
}
